# Project specific
data/*.db
config/*.json
downloads/
temp/
cookies.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
