aiohttp==3.8.5       # Updated version to address compatibility issues
pillow==9.0.0
mutagen==1.45.1
yt-dlp==2021.12.27
pywidevine==1.8.0    # Updated to the latest compatible version
m3u8==0.9.0
python-telegram-bot==20.0  
